<!DOCTYPE html>
<html>
<head>
	<h1> Coffee Shop Database </h1><br>
</head>

<body>
	<p>Product table</p>
	<table border = '' class = "table">
		<thead>
			<tr>
				<th>Product Number</th>
				<th>Product</th>
				<th>Product Price</th>
				<th>Expiry Date</th>
				<th>Stock</th>
			<tr/>
		<thead>

		<tbody>

			{% for i in data_list %}
			<tr>
				<td>{{ i[0] }}</td>
				<td>{{ i[1] }}</td>
				<td>{{ i[2] }}</td>
				<td>{{ i[3] }}</td>
				<td>{{ i[4] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</body>
</html>